## ANN for 2 layer MCX data fitting

In [17]:
import pandas as pd
import glob
import os

### Simulation data

In [29]:
csv_folder = 'C:/Users/Haiya/2layer_sim/MCX_bbnirs_simulation_2layer/simulations/2layer_simlulation/sim_results/1_4/'
GT_folder = 'C:/Users/Haiya/2layer_sim/MCX_bbnirs_simulation_2layer/simulations/2layer_simlulation/data_generation/split_files/'

In [24]:
csv_files = glob.glob(os.path.join(csv_folder, '*.csv'))
df_all = pd.concat([pd.read_csv(f) for f in csv_files], ignore_index=True)

In [26]:
df_all.head()

,ID,20_784,20_800,20_818,20_835,20_851,20_868,20_881,20_894,25_784,...,30_881,30_894,35_784,35_800,35_818,35_835,35_851,35_868,35_881,35_894
0,1,66385.83,67754.170,68516.484,69343.470,69514.664,70078.760,70730.19,71795.580,19970.965,...,6846.7305,6889.562,2290.6636,2398.9750,2432.2776,2486.6145,2434.6934,2429.3196,2383.8310,2320.5745
1,2,70293.18,71699.830,72514.610,73381.010,73629.234,74246.310,74937.61,76108.840,22145.627,...,8009.5625,8068.446,2843.9932,2935.9368,3003.1157,3082.5007,3015.3208,3002.5537,2959.1638,2902.5244
2,3,72967.77,74388.445,75256.280,76124.320,76423.640,77083.734,77785.61,79015.070,23798.281,...,8965.1650,9037.942,3347.8254,3426.8560,3513.3704,3610.5857,3529.1533,3504.7769,3468.7659,3423.8990
3,4,74789.85,76211.440,77096.280,77962.164,78288.170,78973.410,79691.00,80952.250,25007.436,...,9704.5100,9785.313,3773.1782,3852.4807,3943.0500,4048.5056,3954.5144,3930.2812,3892.0156,3857.8848
4,5,76013.35,77465.766,78348.610,79210.720,79539.670,80225.460,80971.63,82226.086,25883.992,...,10260.9790,10344.441,4108.5396,4202.6530,4281.2120,4391.5635,4282.5390,4268.7144,4230.3813,4206.0290

In [33]:
csv_files = glob.glob(os.path.join(GT_folder, '*.csv'))
GT_all = pd.concat([pd.read_csv(f) for f in csv_files], ignore_index=True)

In [35]:
GT_all.head

<bound method NDFrame.head of           ID  HBO1  HHB1  HBO2  HHB2  Thickness  complete
0          1   5.0   2.5    25    15         10     False
1          2   5.0   2.5    25    15         12     False
2          3   5.0   2.5    25    15         14     False
3          4   5.0   2.5    25    15         16     False
4          5   5.0   2.5    25    15         18     False
...      ...   ...   ...   ...   ...        ...       ...
87841  87842  20.0  12.5    55    35         12     False
87842  87843  20.0  12.5    55    35         14     False
87843  87844  20.0  12.5    55    35         16     False
87844  87845  20.0  12.5    55    35         18     False
87845  87846  20.0  12.5    55    35         20     False

[87846 rows x 7 columns]>

### Merge data

In [40]:
GT_all['ID'] = GT_all['ID'].astype(int)
df_all['ID'] = df_all['ID'].astype(int)
GT_all = GT_all.sort_values('ID').reset_index(drop=True)
df_all = df_all.sort_values('ID').reset_index(drop=True)

In [42]:
merged_df = pd.merge(df_all, GT_all, on='ID', how='inner')

In [44]:
merged_df.head

<bound method NDFrame.head of    ID    20_784     20_800     20_818     20_835     20_851     20_868  \
0   1  66385.83  67754.170  68516.484  69343.470  69514.664  70078.760
1   2  70293.18  71699.830  72514.610  73381.010  73629.234  74246.310
2   3  72967.77  74388.445  75256.280  76124.320  76423.640  77083.734
3   4  74789.85  76211.440  77096.280  77962.164  78288.170  78973.410
4   5  76013.35  77465.766  78348.610  79210.720  79539.670  80225.460

     20_881     20_894     25_784  ...     35_851     35_868     35_881  \
0  70730.19  71795.580  19970.965  ...  2434.6934  2429.3196  2383.8310
1  74937.61  76108.840  22145.627  ...  3015.3208  3002.5537  2959.1638
2  77785.61  79015.070  23798.281  ...  3529.1533  3504.7769  3468.7659
3  79691.00  80952.250  25007.436  ...  3954.5144  3930.2812  3892.0156
4  80971.63  82226.086  25883.992  ...  4282.5390  4268.7144  4230.3813

      35_894  HBO1  HHB1  HBO2  HHB2  Thickness  complete
0  2320.5745   5.0   2.5    25    15         10     False
1  2902.5244   5.0   2.5    25    15         12     False
2  3423.8990   5.0   2.5    25    15         14     False
3  3857.8848   5.0   2.5    25    15         16     False
4  4206.0290   5.0   2.5    25    15         18     False

[5 rows x 39 columns]>

In [46]:
X = merged_df[df_all.columns.difference(['ID'])]
Y = merged_df[['HBO1', 'HHB1', 'HBO2', 'HHB2', 'Thickness']]

In [48]:
X

,20_784,20_800,20_818,20_835,20_851,20_868,20_881,20_894,25_784,25_800,...,30_881,30_894,35_784,35_800,35_818,35_835,35_851,35_868,35_881,35_894
0,66385.83,67754.170,68516.484,69343.470,69514.664,70078.760,70730.19,71795.580,19970.965,20491.635,...,6846.7305,6889.562,2290.6636,2398.9750,2432.2776,2486.6145,2434.6934,2429.3196,2383.8310,2320.5745
1,70293.18,71699.830,72514.610,73381.010,73629.234,74246.310,74937.61,76108.840,22145.627,22692.096,...,8009.5625,8068.446,2843.9932,2935.9368,3003.1157,3082.5007,3015.3208,3002.5537,2959.1638,2902.5244
2,72967.77,74388.445,75256.280,76124.320,76423.640,77083.734,77785.61,79015.070,23798.281,24341.580,...,8965.1650,9037.942,3347.8254,3426.8560,3513.3704,3610.5857,3529.1533,3504.7769,3468.7659,3423.8990
3,74789.85,76211.440,77096.280,77962.164,78288.170,78973.410,79691.00,80952.250,25007.436,25541.613,...,9704.5100,9785.313,3773.1782,3852.4807,3943.0500,4048.5056,3954.5144,3930.2812,3892.0156,3857.8848
4,76013.35,77465.766,78348.610,79210.720,79539.670,80225.460,80971.63,82226.086,25883.992,26397.557,...,10260.9790,10344.441,4108.5396,4202.6530,4281.2120,4391.5635,4282.5390,4268.7144,4230.3813,4206.0290

In [50]:
Y

   HBO1  HHB1  HBO2  HHB2  Thickness
0   5.0   2.5    25    15         10
1   5.0   2.5    25    15         12
2   5.0   2.5    25    15         14
3   5.0   2.5    25    15         16
4   5.0   2.5    25    15         18

In [56]:
X = X.to_numpy()
Y = Y.to_numpy()

### ANN based on pytorch

In [59]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
from sklearn.model_selection import train_test_split

In [77]:
# Split into train/test sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42)

# Custom PyTorch dataset
class MCXSimDataset(Dataset):
    def __init__(self, X, Y):
        self.X = torch.tensor(X, dtype=torch.float32)
        self.Y = torch.tensor(Y, dtype=torch.float32)
    
    def __len__(self):
        return len(self.X)
    
    def __getitem__(self, idx):
        return self.X[idx], self.Y[idx]

# Create DataLoaders
train_loader = DataLoader(MCXSimDataset(X_train, Y_train), batch_size=1, shuffle=True)
test_loader = DataLoader(MCXSimDataset(X_test, Y_test), batch_size=1, shuffle=False)

In [88]:
class ANN(nn.Module):
    def __init__(self):
        super(ANN, self).__init__()
        self.net = nn.Sequential(
            nn.Linear(32, 128),
            nn.ReLU(),
            nn.Linear(128, 64),
            nn.ReLU(),
            nn.Linear(64, 32),
            nn.ReLU(),
            nn.Linear(32, 5)  # 5 outputs: HBO1, HHB1, HBO2, HHB2, Thickness
        )
    
    def forward(self, x):
        return self.net(x)
model = ANN()

### Model training

In [92]:
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

In [94]:
num_epochs = 100

for epoch in range(num_epochs):
    model.train()
    running_loss = 0.0
    for batch_X, batch_Y in train_loader:
        optimizer.zero_grad()
        outputs = model(batch_X)
        loss = criterion(outputs, batch_Y)
        loss.backward()
        optimizer.step()
        running_loss += loss.item()
    
    print(f"Epoch {epoch+1}/{num_epochs}, Loss: {running_loss / len(train_loader):.4f}")

Epoch 1/100, Loss: 375746.1953
Epoch 2/100, Loss: 107069.9883
Epoch 3/100, Loss: 18352.4214
Epoch 4/100, Loss: 14099.5110
Epoch 5/100, Loss: 5107.2595
Epoch 6/100, Loss: 5685.3724
Epoch 7/100, Loss: 3161.7916
Epoch 8/100, Loss: 1349.6879
Epoch 9/100, Loss: 1605.1022
Epoch 10/100, Loss: 1167.3486
Epoch 11/100, Loss: 674.7314
Epoch 12/100, Loss: 547.5005
Epoch 13/100, Loss: 452.0981
Epoch 14/100, Loss: 395.2154
Epoch 15/100, Loss: 450.9477
Epoch 16/100, Loss: 362.3260
Epoch 17/100, Loss: 464.5048
Epoch 18/100, Loss: 623.5993
Epoch 19/100, Loss: 804.3871
Epoch 20/100, Loss: 541.2102
Epoch 21/100, Loss: 621.7039
Epoch 22/100, Loss: 407.3084
Epoch 23/100, Loss: 253.1688
Epoch 24/100, Loss: 163.7650
Epoch 25/100, Loss: 195.6309
Epoch 26/100, Loss: 167.0754
Epoch 27/100, Loss: 109.4090
Epoch 28/100, Loss: 103.3014
Epoch 29/100, Loss: 114.0020
Epoch 30/100, Loss: 83.8625
Epoch 31/100, Loss: 99.0851
Epoch 32/100, Loss: 64.3897
Epoch 33/100, Loss: 84.5508
Epoch 34/100, Loss: 71.6284
Epoch 35/100, Loss: 85.8597
Epoch 36/100, Loss: 64.0251
Epoch 37/100, Loss: 124.0932
Epoch 38/100, Loss: 114.8954
Epoch 39/100, Loss: 114.5043
Epoch 40/100, Loss: 98.9878
Epoch 41/100, Loss: 113.7113
Epoch 42/100, Loss: 83.1329
Epoch 43/100, Loss: 62.6295
Epoch 44/100, Loss: 62.6499
Epoch 45/100, Loss: 77.8669
Epoch 46/100, Loss: 74.0109
Epoch 47/100, Loss: 89.9153
Epoch 48/100, Loss: 106.6095
Epoch 49/100, Loss: 68.8447
Epoch 50/100, Loss: 81.7231
Epoch 51/100, Loss: 113.1729
Epoch 52/100, Loss: 61.8123
Epoch 53/100, Loss: 79.5675
Epoch 54/100, Loss: 48.1387
Epoch 55/100, Loss: 45.1823
Epoch 56/100, Loss: 38.6675
Epoch 57/100, Loss: 37.0197
Epoch 58/100, Loss: 43.9166
Epoch 59/100, Loss: 55.4554
Epoch 60/100, Loss: 73.7309
Epoch 61/100, Loss: 43.7876
Epoch 62/100, Loss: 58.3902
Epoch 63/100, Loss: 35.3139
Epoch 64/100, Loss: 43.6921
Epoch 65/100, Loss: 17.8850
Epoch 66/100, Loss: 38.0454
Epoch 67/100, Loss: 23.4814
Epoch 68/100, Loss: 29.4307
Epoch 69/100, Loss: 24.3585
Epoch 70/100, Loss: 29.0437
Epoch 71/100, Loss: 45.3485
Epoch 72/100, Loss: 32.6803
Epoch 73/100, Loss: 28.7543
Epoch 74/100, Loss: 18.7327
Epoch 75/100, Loss: 37.1342
Epoch 76/100, Loss: 53.7320
Epoch 77/100, Loss: 51.6003
Epoch 78/100, Loss: 47.5211
Epoch 79/100, Loss: 28.6055
Epoch 80/100, Loss: 23.7555
Epoch 81/100, Loss: 29.4652
Epoch 82/100, Loss: 46.9198
Epoch 83/100, Loss: 19.6952
Epoch 84/100, Loss: 24.9214
Epoch 85/100, Loss: 19.3669
Epoch 86/100, Loss: 14.8898
Epoch 87/100, Loss: 13.1600
Epoch 88/100, Loss: 19.4750
Epoch 89/100, Loss: 13.2368
Epoch 90/100, Loss: 18.4893
Epoch 91/100, Loss: 14.0273
Epoch 92/100, Loss: 8.7652
Epoch 93/100, Loss: 14.6053
Epoch 94/100, Loss: 8.3744
Epoch 95/100, Loss: 12.7434
Epoch 96/100, Loss: 16.2867
Epoch 97/100, Loss: 23.1299
Epoch 98/100, Loss: 28.1254
Epoch 99/100, Loss: 13.5972
Epoch 100/100, Loss: 12.0270

In [100]:
model.eval()
with torch.no_grad():
    total_mse = 0
    for batch_X, batch_Y in test_loader:
        preds = model(batch_X)
        print('preds=', preds)
        print('GT=', batch_Y)
        mse = criterion(preds, batch_Y)
        total_mse += mse.item()
    print(f"Test MSE: {total_mse / len(test_loader):.4f}")

preds= tensor([[ 5.2530,  0.3041, 21.9695, 15.8664, 10.6013]])
GT= tensor([[ 5.0000,  2.5000, 25.0000, 15.0000, 12.0000]])
Test MSE: 3.3554